torch
git+https://github.com/PyTorchLightning/pytorch-lightning
segmentation_models_pytorch 
xgboost==1.5.2
numpy>=1.21.0
opencv-python>=4.5.0
matplotlib>=3.5.0
typing-extensions>=4.0.0
pandas
numpy
Pillow 
tqdm
scikit-image
